body {
  background-image: linear-gradient(to right, #cb2d3e, #ef473a);
  height: 100vh;
  color: #ffffff;
  font-family: "Caveat", cursive;
  font-size: 44px;
  /* margin: 25px 0; */
  text-align: center;
}

.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
