body {
  background-image: linear-gradient(to right, #ece9e6, #ffffff);
  height: 100vh;
  color: #282828;
  font-family: "Caveat", cursive;
  font-size: 80px;
  margin: 25px 25px;
  text-align: center;
}
